* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

.search-input-wrapper {
    align-items: center;
    background-color: rgba(255, 69, 69, .5);
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.search-input-wrapper.change {
    opacity: 1;
    visibility: visible;
    transition: all .5s 1s;
}
.search-input {
    align-items: center;
    display: flex;
    width: 30rem;
}
.search-input input {
    background-color: transparent;
    border: none;
    border-bottom: .1rem solid #999;
    color: #555;
    font-size: 1.5rem;
    letter-spacing: .15rem;
    margin-right: 1rem;
    outline: none;
    width: 27rem;
}
.search-input i {
    font-size: 1.5rem;
    color: #999;
    cursor: pointer;
}
.search-icon {
    animation: searchIconFrames2 .5s forwards;
    font-size: 1.5rem;
    position: absolute;
    top: 1.7rem;
    right: 3rem;
}
.search-icon.change {
    animation: searchIconFrames 1s forwards;
}
.search-icon i {
    color: #999;
    cursor: pointer;
}

@keyframes searchIconFrames {
    0% {
        top: 1.7rem;
    }
    40% {
        top: 40%;
        font-size: 25rem;
    }
    60% {
        top: 40%;
        right: calc(50% + 16rem);
    }
    100% {
        top: 1.7rem;
        right: calc(50% + 16rem);
    }
}
@keyframes searchIconFrames2 {
    0% {
        right: calc(50% + 16rem)
    }
    100% {
        right: 3rem;
    }
}